<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                {{# if login}}
                    <i class="fas fa-utensils"></i> Столовая "Студенческая" ({{globalUserName}}) {{#if isAdmin}} (администратор) {{/if}}
                {{else}}
                    <i class="fas fa-drumstick-bite"></i> Столовая "Студенческая" ({{globalUserName}})
                {{/if}}
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/food-tray/">
                        <i class="fas fa-concierge-bell"></i> На подносе
                        <span class="badge">{{session.tray.totalQty}}</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fas fa-pastafarianism"></i> Комрады <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{# if login }}
                            <li><a href="/user/profile">Профиль</a></li>
                            <li role="separator" class="divider"></li>
                            {{#if isAdmin}}
                                <li><a href="/menu/">Меню</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/user/admin-profile/">Все заказы</a></li>
                                <li role="separator" class="divider"></li>
                            {{/if}}
                            <li><a href="/user/logout">Выйти</a></li>
                        {{ else }}
                            <li><a href="/user/signup">Зарегистрироваться</a></li>
                            <li><a href="/user/signin">Войти</a></li>
                        {{/if}}

                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>