<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Все заказы</h2>
        <hr>
        {{#if orders}}
            {{# each orders }}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{this.email}}
                            <div align="right">
                                <a href="/status_0/{{this._id}}" class="btn btn-primary btn-sm" role="button">ожидает подтверждения</a>
                                <a href="/status_1/{{this._id}}" class="btn btn-primary btn-sm" role="button">на кухне</a>
                                <a href="/status_2/{{this._id}}" class="btn btn-primary btn-sm" role="button">доставка</a>
                            </div>
                        </h4>
                    </div>
                    <h4 align="left">
                        <span class="label label-warning">Заказал комрад по имени: {{this.name}} {{StrText}}</span>
                    </h4>
                    <h4 align="left">
                        <span class="label label-danger">Заказал на адрес: {{this.address}} </span>
                    </h4>
                    <p>
                    <hr>
                    </p>
                    <h4 align="right">
                        <span class="label label-info">Статус заказа: {{this.status}}</span>
                    </h4>
                    <p>
                    <hr>
                    </p>
                    <div class="panel-body">
                        <ul class="list-group">
                            {{# each this.items }}
                                <li class="list-group-item">
                                    <span class="badge progress-bar-danger">{{ this.price }} руб.</span>
                                    {{ this.item.title }} | {{ this.qty }} шт.
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <strong>Сумма по заказу: {{ this.tray.totalPrice }} руб.</strong>
                    </div>
                </div>
            {{/each}}
            <div class="panel-footer">
                <strong>Сумма по всем заказам: {{totalPrice}} руб.</strong>
            </div>
        {{else}}
            <h2>
                <i class="fas fa-angry"></i> Комрад у тебя не было заказов
            </h2>
        {{/if}}
    </div>
</div>