<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Профиль ({{globalUserName}})</h2>
        <hr>
        {{#if orders}}
            <h3>Мои заказы</h3>
            {{# each orders }}
                <div class="panel panel-default">
                    <h4 align="left">
                        <span class="label label-warning">Заказал комрад по имени: {{this.name}} {{StrText}}</span>
                    </h4>
                    <h4 align="left">
                        <span class="label label-danger">Заказал на адрес: {{this.address}} </span>
                    </h4>
                    <p> <hr> </p>
                    <h4 align="right">
                        <span class="label label-info">Статус заказа: {{this.status}}</span>
                    </h4>
                    <p> <hr> </p>
                    <div class="panel-body">
                        <ul class="list-group">
                            {{# each this.items }}
                                <li class="list-group-item">
                                    <span class="badge progress-bar-danger">{{ this.price }} руб.</span>
                                    {{ this.item.title }} | {{ this.qty }} шт.
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <strong>За тобой должок: {{ this.tray.totalPrice }} руб.</strong>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <h2>
                <i class="fas fa-angry"></i> Комрад у тебя не было заказов
            </h2>
        {{/if}}
    </div>
</div>