<div class="row">
    <div class="col-sm-6 col-md-5 col-md-offset-3 col-sm-offset-3">
        <div class="container-fluid">
         <h2 align="center">
          <span class="label label-primary">Добавление в меню</span>
         </h2>
        </div>
        <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
            {{errMsg}}
        </div>
        <p></p>
        <form action="/add-to-menu" method="post" id="add-to-menu-form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Путь к картинке</label>
                        <input type="text" id="imagePath" class="form-control" required name="imagePath">
                    </div>
                </div>
                <p></p>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="title">Наименование</label>
                        <input type="text" id="title" class="form-control" required name="title">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Описание</label>
                        <input type="text" id="description" class="form-control" required name="description">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="price">Цена</label>
                        <input type="text" id="price" class="form-control" required name="price">
                    </div>
                </div>
            </div>
            <p></p>
            <button type="submit" class="btn btn-success">Добавить</button>
        </form>
    </div>
</div>
