<div class="row">
    <div class="col-sm-6 col-md-5 col-md-offset-3 col-sm-offset-3">
        <div class="container-fluid">
         <h2 align="center">
          <span class="label label-primary">Счетец тебе комрад: {{globalUserName}} </span>
         </h2>
        </div>
        <p></p>
        <div class="container-fluid">
            <h3 align="center">
                <span class="label label-warning">Всего на подносе на: {{total}} руб.</span>
            </h3>
        </div>
        <p></p>
        <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
            {{errMsg}}
        </div>
        <form action="/checkout" method="post" id="checkout-form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input type="text" id="name" class="form-control" required name="name">
                    </div>
                </div>
                <p></p>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">Адрес</label>
                        <input type="text" id="address" class="form-control" required name="address">
                    </div>
                </div>
            </div>
            <p></p>
            <button type="submit" class="btn btn-success">Вперед!</button>
        </form>
    </div>
</div>
