{{# if products }}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <ul class="list-group">
                {{# each products }}
                    <li class="list-group-item">
                        <span class="badge progress-bar-warning">{{ this.qty }}</span>
                        <strong><h3>{{ this.item.title }}</h3></strong>
                        <span class="badge progress-bar-danger">руб. {{ this.price }}</span>
                        <!--
                        <div class="btn-group">
                            <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                Действие<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="/addone/{{this.item._id}}">Добавить один</a></li>
                                <li><a href="/reduce/{{this.item._id}}">Убрать один</a></li>
                                <li><a href="/remove/{{this.item._id}}">Убрать все</a></li>
                            </ul>
                        </div>
                        -->
                        <div>
                            <a href="/addone/{{this.item._id}}" class="btn btn-warning btn-sm" role="button">+</a>
                            <a href="/reduce/{{this.item._id}}" class="btn btn-warning btn-sm" role="button">-</a>
                            <a href="/remove/{{this.item._id}}" class="btn btn-warning btn-sm" role="button">убрать все</a>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <strong>Всего на: {{ totalPrice }} руб.</strong>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <a href="/checkout" type="button" class="btn btn-danger">Забрать</a>
        </div>
    </div>
{{ else }}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h3>
                <i class="fas fa-angry"></i> Комрад у тебя на подносе ничего нет!
            </h3>
        </div>
    </div>
{{/if}}

