<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>
{{# if products }}
    <h2>
        Управление меню <a href="/add-to-menu" class="btn btn-success pull-right" role="button">Добавить в меню</a>
    </h2>
    <hr>
    {{# each products }}
        <div class="row">
            {{# each this }}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ this.imagePath }}" alt="..." class="img-responsive">
                        <div class="caption">
                            <h3>{{ this.title }}</h3>
                            <p class="description">{{ this.description }}</p>
                            <div class="clearfix">
                                <div class="price pull-left">руб.{{ this.price }}</div>
                                <a href="/delete-from-menu/{{this._id}}" class="btn btn-danger pull-right" role="button">Удалить из меню</a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
{{ else }}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h3>
                <i class="fas fa-angry"></i> В меню ничего нет!
            </h3>
        </div>
    </div>
{{/if}}

